integration_name: com.newrelic.tibco.ems

instances:
    - name: ems-server-metrics
      command: metrics
      arguments:
        config_file: /etc/newrelic-infra/integrations.d/plugin.json
      labels:
        env: production
        role: ems-server
